<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bluebird.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="win" />
  <package id="browserify.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="win" />
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="win" />
  <package id="form-data.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="win" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.19.208020213" targetFramework="win" />
  <package id="node.TypeScript.DefinitelyTyped" version="1.7.8" targetFramework="win" />
  <package id="React.TypeScript.DefinitelyTyped" version="0.1.12" targetFramework="uap10.0.10240" />
  <package id="request.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="win" />
  <package id="request-promise.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="win" />
  <package id="winjs.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="win" />
  <package id="winrt.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="win" />
</packages>