<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="browserify.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="win" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="win" />
  <package id="React.TypeScript.DefinitelyTyped" version="0.1.12" targetFramework="uap10.0.10240" />
  <package id="winjs.TypeScript.DefinitelyTyped" version="0.1.9" targetFramework="win" />
  <package id="winrt.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="win" />
</packages>